@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Scripts/kendo/2018.2.620/kendo.all.min.js" type="text/javascript"></script>
<link href="~/Content/kendo/2018.2.620/kendo.bootstrap.min.css" rel="stylesheet" />
<h1>Hippy Jamband Rankings</h1>
@(Html.Kendo().TabStrip()
                        .Name("tabstrip")
                        .Animation(animation =>
                            animation.Open(effect =>
                                effect.Fade(FadeDirection.In)))
                        .Items(tabstrip =>
                        {
                            tabstrip.Add().Text("Panic")
                            .Selected(true)
                            .Content(@<text>
                                <div id="panicSection">
                                    <div class="list-wrapper">
                                        <div id="mainList" style="float:left;height:800px;overflow-y:scroll;padding-left:150px;">
                                            <div style="text-align:center;width:200px;">WSP Originals</div>
                                            <ul id="sortableList-Main">
                                                @foreach (var psong in ViewBag.PanicSongList)
                                                            {
                                                    <li class="list-item">@psong.Name</li>
                                                            }
                                                /**/
                                                /**/

                                            </ul>
                                        </div>
                                        <div id="yourList" style="float:right;padding-right:150px;">
                                            <div id="rankings" style="float:left;">
                                                <div class="number-item">&nbsp;</div>
                                                <div class="number-item">1.</div>
                                                <div class="number-item">2.</div>
                                                <div class="number-item">3.</div>
                                                <div class="number-item">4.</div>
                                                <div class="number-item">5.</div>
                                                <div class="number-item">6.</div>
                                                <div class="number-item">7.</div>
                                                <div class="number-item">8.</div>
                                                <div class="number-item">9.</div>
                                                <div class="number-item">10.</div>
                                                <div class="number-item">11.</div>
                                                <div class="number-item">12.</div>
                                                <div class="number-item">13.</div>
                                                <div class="number-item">14.</div>
                                                <div class="number-item">15.</div>
                                                <div class="number-item">16.</div>
                                                <div class="number-item">17.</div>
                                                <div class="number-item">18.</div>
                                                <div class="number-item">19.</div>
                                                <div class="number-item">20.</div>
                                                <div class="number-item">21.</div>
                                                <div class="number-item">22.</div>
                                                <div class="number-item">23.</div>
                                                <div class="number-item">24.</div>
                                                <div class="number-item">25.</div>
                                                <div class="number-item">26.</div>
                                                <div class="number-item">27.</div>
                                                <div class="number-item">28.</div>
                                                <div class="number-item">29.</div>
                                                <div class="number-item">30.</div>
                                            </div>
                                            <div id="yourlist-wrapper" style="float:right;">
                                                <div style="text-align:center;width:200px;">Top 30</div>
                                                <ul id="sortableList-Yours"></ul>
                                            </div>
                                        </div>
                                        <div style="float:right;">
                                            <input type="button" value="Export to Panicfreaks!" title="Highlight and copy/paste to PanicFreaks" onclick="getTopPanicList();" />
                                        </div>
                                    </div>
                                </div>
                            </text>);
                                    tabstrip.Add().Text("Phish")
.Content(@<text>
        <div id="phishSection">
            <div class="ph-list-wrapper">
                <div id="ph-mainList" style="float:left;height:800px;overflow-y:scroll;padding-left:150px;">
                    <div style="text-align:center;width:200px;">Phish Originals</div>
                    <ul id="ph-sortableList-Main">
                        @foreach (var song in ViewBag.PhishSongList)
                                    {
                            <li class="ph-list-item">@song.Name</li>
                                    }
                        /**/
                        /**/


                    </ul>
                </div>
                <div id="ph-yourList" style="float:right;padding-right:150px;">
                    <div id="ph-rankings" style="float:left;">
                        <div class="number-item">&nbsp;</div>
                        <div class="number-item">1.</div>
                        <div class="number-item">2.</div>
                        <div class="number-item">3.</div>
                        <div class="number-item">4.</div>
                        <div class="number-item">5.</div>
                        <div class="number-item">6.</div>
                        <div class="number-item">7.</div>
                        <div class="number-item">8.</div>
                        <div class="number-item">9.</div>
                        <div class="number-item">10.</div>
                        <div class="number-item">11.</div>
                        <div class="number-item">12.</div>
                        <div class="number-item">13.</div>
                        <div class="number-item">14.</div>
                        <div class="number-item">15.</div>
                        <div class="number-item">16.</div>
                        <div class="number-item">17.</div>
                        <div class="number-item">18.</div>
                        <div class="number-item">19.</div>
                        <div class="number-item">20.</div>
                        <div class="number-item">21.</div>
                        <div class="number-item">22.</div>
                        <div class="number-item">23.</div>
                        <div class="number-item">24.</div>
                        <div class="number-item">25.</div>
                        <div class="number-item">26.</div>
                        <div class="number-item">27.</div>
                        <div class="number-item">28.</div>
                        <div class="number-item">29.</div>
                        <div class="number-item">30.</div>
                    </div>
                    <div id="ph-yourlist-wrapper" style="float:right;">
                        <div style="text-align:center;width:200px;">Top 30</div>
                        <ul id="ph-sortableList-Yours"></ul>
                    </div>
                </div>
                <div style="float:right;">
                    <input type="button" value="Export to Panicfreaks!" title="Highlight and copy/paste to PanicFreaks" onclick="getTopPhishList();" />
                </div>
            </div>
        </div>
</text>);
                                tabstrip.Add().Text("Grateful Dead")
                .Content(@<text>
                    <div id="deadSection">
                        <div class="d-list-wrapper">
                            <div id="d-mainList" style="float:left;height:800px;overflow-y:scroll;padding-left:150px;">
                                <div style="text-align:center;width:200px;">Grateful Dead Originals</div>
                                <ul id="d-sortableList-Main">
                                    @foreach (var song in ViewBag.DeadSongList)
                                                {
                                        <li class="d-list-item">@song.Name</li>
                                                }
                                    /**/

                                </ul>
                            </div>
                            <div id="d-yourList" style="float:right;padding-right:150px;">
                                <div id="d-rankings" style="float:left;">
                                    <div class="number-item">&nbsp;</div>
                                    <div class="number-item">1.</div>
                                    <div class="number-item">2.</div>
                                    <div class="number-item">3.</div>
                                    <div class="number-item">4.</div>
                                    <div class="number-item">5.</div>
                                    <div class="number-item">6.</div>
                                    <div class="number-item">7.</div>
                                    <div class="number-item">8.</div>
                                    <div class="number-item">9.</div>
                                    <div class="number-item">10.</div>
                                    <div class="number-item">11.</div>
                                    <div class="number-item">12.</div>
                                    <div class="number-item">13.</div>
                                    <div class="number-item">14.</div>
                                    <div class="number-item">15.</div>
                                    <div class="number-item">16.</div>
                                    <div class="number-item">17.</div>
                                    <div class="number-item">18.</div>
                                    <div class="number-item">19.</div>
                                    <div class="number-item">20.</div>
                                    <div class="number-item">21.</div>
                                    <div class="number-item">22.</div>
                                    <div class="number-item">23.</div>
                                    <div class="number-item">24.</div>
                                    <div class="number-item">25.</div>
                                    <div class="number-item">26.</div>
                                    <div class="number-item">27.</div>
                                    <div class="number-item">28.</div>
                                    <div class="number-item">29.</div>
                                    <div class="number-item">30.</div>
                                </div>
                                <div id="d-yourlist-wrapper" style="float:right;">
                                    <div style="text-align:center;width:200px;">Top 30</div>
                                    <ul id="d-sortableList-Yours"></ul>
                                </div>
                            </div>
                            <div style="float:right;">
                                <input type="button" value="Export to Panicfreaks!" title="Highlight and copy/paste to PanicFreaks" onclick="getTopDeadList();" />
                            </div>
                        </div>
                    </div>
                </text>);
                                    })
)



@(Html.Kendo().Sortable()
                            .For("#sortableList-Main")
                            .PlaceholderHandler("placeholder")
                            .ConnectWith("#sortableList-Yours")
)
@(Html.Kendo().Sortable()
                                .For("#sortableList-Yours")
                                .PlaceholderHandler("placeholder")
                                .ConnectWith("#sortableList-Main")
)
@(Html.Kendo().Sortable()
                            .For("#ph-sortableList-Main")
                            .PlaceholderHandler("placeholder")
                            .ConnectWith("#ph-sortableList-Yours")
)
@(Html.Kendo().Sortable()
                                .For("#ph-sortableList-Yours")
                                .PlaceholderHandler("placeholder")
                                .ConnectWith("#ph-sortableList-Main")
)
@(Html.Kendo().Sortable()
                            .For("#d-sortableList-Main")
                            .PlaceholderHandler("placeholder")
                            .ConnectWith("#d-sortableList-Yours")
)
@(Html.Kendo().Sortable()
                                .For("#d-sortableList-Yours")
                                .PlaceholderHandler("placeholder")
                                .ConnectWith("#d-sortableList-Main")
)

<script>

    function placeholder(element) {
        return $("<li class='list-item' id='placeholder'>Drop Here!</li>");
    }
    function getTopPanicList() {

        var heading = "<p>My Top Panic Picks:</p><br/>----------------------------";
        var htmlStart = "[LIST=1]";
        var htmlBody = "";
        var htmlEnd = "[/LIST]";
        $('#sortableList-Yours li').each(function (e, value) {
            htmlBody = htmlBody + "[*]" + value.innerText;
        });

        var html = heading + htmlStart + htmlBody + htmlEnd;

        var alertWindow = $("<div />").kendoWindow({
            title: "Copy contents",
            resizable: false,
            modal: true,
            width: "200px"
        });

        alertWindow.data("kendoWindow")
            .content(html)
            .center().open();
    }
    function getTopPhishList() {

        var heading = "<p>My Top Phish Picks:</p><br/>----------------------------";
        var htmlStart = "[LIST=1]";
        var htmlBody = "";
        var htmlEnd = "[/LIST]";
        $('#ph-sortableList-Yours li').each(function (e, value) {
            htmlBody = htmlBody + "[*]" + value.innerText;
        });

        var html = heading + htmlStart + htmlBody + htmlEnd;

        var alertWindow = $("<div />").kendoWindow({
            title: "Copy contents",
            resizable: false,
            modal: true,
            width: "200px"
        });

        alertWindow.data("kendoWindow")
            .content(html)
            .center().open();
    }
    function getTopDeadList() {

        var heading = "<p>My Top Dead Picks:</p><br/>----------------------------";
        var htmlStart = "[LIST=1]";
        var htmlBody = "";
        var htmlEnd = "[/LIST]";
        $('#d-sortableList-Yours li').each(function (e, value) {
            htmlBody = htmlBody + "[*]" + value.innerText;
        });

        var html = heading + htmlStart + htmlBody + htmlEnd;

        var alertWindow = $("<div />").kendoWindow({
            title: "Copy contents",
            resizable: false,
            modal: true,
            width: "200px"
        });

        alertWindow.data("kendoWindow")
            .content(html)
            .center().open();
    }
</script>
<style>
    .list-item {
        list-style-type: none;
        width: 200px;
        margin: 5px;
        line-height: 30px;
        text-align: center;
        background-color: #42b3f4;
        color: #1a1b1c;
        border-radius: 3px;
        cursor: url('@Url.Content("~/content/web/sortable/grab.cur")'), default;
    }
    .ph-list-item {
        list-style-type: none;
        width: 200px;
        margin: 5px;
        line-height: 30px;
        text-align: center;
        background-color: #42f492;
        color: #1a1b1c;
        border-radius: 3px;
        cursor: url('@Url.Content("~/content/web/sortable/grab.cur")'), default;
    }
    .d-list-item {
        list-style-type: none;
        width: 200px;
        margin: 5px;
        line-height: 30px;
        text-align: center;
        background-color: #e86247;
        color: #1a1b1c;
        border-radius: 3px;
        cursor: url('@Url.Content("~/content/web/sortable/grab.cur")'), default;
    }
    .number-item {
        margin: 5px;
        height: 30px;
        vertical-align: middle;
    }
    #sortableList-Main, #sortableList-Yours, #ph-sortableList-Main, #ph-sortableList-Yours, #d-sortableList-Main, #d-sortableList-Yours {
        width: 210px;
        min-height: 40px;
        margin: 0;
        padding: 0;
        border: 1px solid #dddddd;
        border-radius: 4px;
    }
    #sortableList-Main .list-item {
        background-color: #54b8fa;
        color: #000000;
    }
    #placeholder.list-item {
        background-color: #ffffff;
        color: #777;
    }
</style>